APP_NAME=URL Shortener Service
DEBUG=true

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/shortener
REDIS_URL=redis://redis:6379/0

SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

BASE_URL=http://localhost:8000
SHORT_CODE_LENGTH=6

CLEANUP_INTERVAL_MINUTES=1
INACTIVE_DELETE_DAYS=30
